*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(216, 216, 216);
  color: rgb(255, 255, 255);
  font-family: "Times New Roman", Times, serif;
}

header {
  background-color: rgb(207, 135, 0);
  padding: 1.65rem;
  text-transform: capitalize;
}

header h1 {
  font-size: 2.2rem;
}

header h1 span {
  font-size: 1.5rem;
}

p {
  padding: 1rem;
  text-align: justify;
  font-size: 20px;
  line-height: 30px;
  background-color: rgb(80, 80, 80);
}

.container {
  width: 50%;
  margin: auto;
}
